h1{
    background-color: aqua;
    color: white;
    text-align: center;
}
li{
    list-style-type: none;
    display: inline;
}
a{
    text-decoration: none;
}
.navbar{
    background-color:black;
    display: flex;
    color:whitesmoke;
    justify-content: space-evenly;
}

.outer{
    height: 800px;
    width: 500px;
    background-color: blue;
    display: flex;
    justify-content: center;
    align-items: center;

}
.inner{
    height: 200px;
    width:200px;
    background-color:black;
}