*{
    margin:0;
    font-family: Arial, Helvetica, sans-serif;
    border: border-box;
}
.navbar{
    height: 60px;
    width: 100%;
    background-color:#0f1111;
    color:white;
    display: flex;
    align-items: center; 
    justify-content: space-evenly;

}
.nav-logo{
    height: 50px;
    width:100px;

}
.logo{
    background-image: url("amazon-logo-1024x683.png");
    height:50px;
    width:100%;
    background-size: cover;
}
.border{
    border: 2px solid transparent;
}
.border:hover{
    border: 1.5px solid white;
}
.address-first{
    color:#cccccc;
    font-size:0.85rem;
    margin-left: 15px;
}
.address-second{
    color:#cccccc;
    font-size:1rem;
    margin-left: 3px;
}
.add-icon{
    display: flex;
    align-items: center;
}
.nav-sarch{
    display: flex;
    justify-content: space-evenly;
    background-color: pink;
    width:620px;
    height: 40px;
    border-radius: 4px;
}
.nav-sarch:hover{
    border:2px solid #febd68;
}
.ab{
    background-color: #f3f3f3;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border: none;
    text-align: center;
}
.bc{
    width:100%;
    font-size: 1rem;
    border: none;
}
.sarch-icon{
    width:44px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #febd68;
    font-size: 1.2rem;
    border-radius: 4px;

}
.signin-one{
    font-size:0.85rem;
    font-weight: 700;
}
.cd{
    font-size:0.7rem;
}
.signin-two{
    font-size:0.85rem;
    font-weight: 700;
}
.cart i{
    font-size: 1.4rem;
    font-weight: 700;
}
.panel{
    display:flex;
    background-color: #0f1111;
    color: white;
    align-items: center;
    justify-content: space-evenly;

}
.panel-ops p{
    display: inline;
    margin-left: 15px;

}
.panel-ops{
        width:70%;
        font-size: 0.85rem;
}
.panel-details{
    font-size:90rem;
    font-weight: 700;
}
.hero-section{
    background-image: url("amazon 1.jpg");
    height:400px;
    width:100%;
    background-size: cover;
    display:flex;
    justify-content: center;
    align-items: flex-end;

}
.hero-msg{
    height:40px;
    width:80%;
    background-color:white;
    color:black;
    display:flex;
    align-items:center;
    justify-content: center;
    font-size:0.85rem;
    margin-bottom: 25px;
}
.hero-massage a{
    color: #007185;

}
.box{
    height:400px;
    width:24%;
    border:none;
    display: flex;
    justify-content: space-evenly;
    background-color: white;
    margin-top:10px;
}
.shopping-box{
    display: flex;
    justify-content: space-evenly;
    background-color: #e2e7e6;
}
.box-img{
    background-size: cover;
    height:350px;
    width: 330px;
    margin-top:1rem;
    margin-bottom:1rem;
}
.box-content{
    margin-left: 1rem;
    margin-right: 1rem;
}
.df{
    color:#007185;
}
.df:hover{
    border:2px solid rgb(141, 21, 21);
}
.consol-gaming{
    background-image: url("console gaming.jpg");
    height:150px;
    
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #e2e7e6;
}
.boxc{
    height:400px ;
    width:30%;
    /*border:2px solid black;*/
    background-color: white;
}
.consol-setup{
    display:flex;
    justify-content: space-evenly;
    background-color:white;
    
}
.box-imgc{
    height:350px;
    width:440px;
    background-size: cover;
    background-repeat: no-repeat;
}
.vartual-reality{
    background-image:url("amazon 7.jpg") ;
    height:300px;
    margin-top: 10px;

}
.foot-panel1{
    height:50px;
    background-color: #37475a;
    display:flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 0.85rem;
}
a{
    text-decoration: none;
}
.foot-panel2{
    display: flex;
    height:300px;
    width:100%;
    background:#0f1111;
    color:white;
    justify-content: space-evenly;
}
ul a{
    display: block;
    font-size: 0.85rem;
    color:#dddddd;
    margin-top: 10px;
}
ul p{
    font-weight: 700;
}
ul{
    margin-top:20px;
}
.logof{
    background-image:url("amazon-logo-1024x683.png");
    height: 50px;
    width: 100px;
    background-size: cover;
}
.foot-panel3{
    height:70px;
    background-color: #0f1111;
    border-top: 2px solid white;
    display: flex;
    justify-content: center;
    align-items:center;

}
.foot-panel4{
    height: 70px;
    background-color: #0f1111;
    border-top:2px solid white;

}
.conditions{
    display:flex;
    justify-content: center;
    color:white;
    margin-top: 10px;
}
.conditions a{
    color:white;
    text-decoration:none;
    margin-left: 10px;
}
.copyright{
    color:white;
    display: flex;
    justify-content: center;
    margin-top:10px;
}
